@model lab_2._4.Models.UserModel

@{
	ViewData["Title"] = "SignUp";
}	

@if(ViewBag.Submit == 0)
{
	<form method="POST" action="PasswordReset"> 
		<h2>Reset your password</h2>
		
		<div>Email</div>
		@Html.TextBoxFor(model => model.email) 
		<p class="bg-danger">@ViewBag.error</p>
		@Html.ValidationMessageFor(model => model.email)
		<div class="validation text-danger" asp-validation-summary="ModelOnly"></div> 
		<div class = "filler"></div> 
   
        <button class="btn btn-primary" type="submit">Send me a code</button>
        <button type="submit" class="btn btn-outline-secondary text-dark">I have a code</button>
	</form>
}
else if (ViewBag.Submit == 1)
{		
	<form method="POST" action="PasswordReset">
		<h2>Reset code</h2>
		<div>Code</div>
		<p class="bg-info">Generated code: @ViewBag.code</p>
		@Html.TextBox("userCode")
    	<p class="bg-danger">@ViewBag.error</p>
		<div class = "filler"></div> 
		<button type="submit" class="btn btn-outline-secondary text-dark">Verify</button>
	</form>
}
else
{
	<form method="POST" action="PasswordReset">
		<h2>New Password</h2>
		<div>Password</div>
		@Html.TextBoxFor(model => model.password, new{type = "password"}) 
		@Html.ValidationMessageFor(model => model.password)
		<div class = "filler"></div> 
		<button type="submit" class="btn btn-outline-secondary text-dark">Confirm</button>
	</form>	
}
@section scripts{ 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}