@model lab_2._4.Models.UserModel

@{
	ViewData["Title"] = "SignUp";
}	
	<form> 
		<h2>Sign up result</h2>
		
		<div>First Name: @ViewBag.firstName</div>
		<div>Last Name: @ViewBag.lastName</div>
		<div>Birthday: @ViewBag.day.@ViewBag.month.@ViewBag.year</div>
		<div>Gender: @ViewBag.gender</div>
		<div>Email: @ViewBag.email</div>
		<div>Password: @ViewBag.password</div>
	</form>