
@{
    ViewData["Title"] = "AccesServiceDirectly";
}
@inject IRand randService
<h2>AccesServiceDirectly</h2>

<p><b>Rand value First: @randService.GetFirstval()</b></p>
<p><b>Rand value Second: @randService.GetSecondval()</b></p>
<p><b>Add:</b></p>
<p>@randService.GetFirstval() + @randService.GetSecondval() = @randService.Add()</p>
<p><b>Sub:</b></p>
<p>@randService.GetFirstval() - @randService.GetSecondval() = @randService.Sub()</p>
<p><b>Mult:</b></p>
<p>@randService.GetFirstval() * @randService.GetSecondval() = @randService.Mult()</p>
<p><b>Div:</b></p>
<p>@randService.GetFirstval() / @randService.GetSecondval() = @randService.Div()</p>
