
@{
    ViewData["Title"] = "PassUsingViewData";
}

<h2>PassUsingViewData</h2>

<p><b>Rand value First: @ViewData["firstval"]</b></p>
<p><b>Rand value Second: @ViewData["secondval"]</b></p>
<p><b>Add:</b></p>
<p>@ViewData["firstval"] + @ViewData["secondval"] = @ViewData["Add"]</p>
<p><b>Sub:</b></p>
<p>@ViewData["firstval"] - @ViewData["secondval"] = @ViewData["Sub"]</p>
<p><b>Mult:</b></p>
<p>@ViewData["firstval"] * @ViewData["secondval"] = @ViewData["Mult"]</p>
<p><b>Div:</b></p>
<p>@ViewData["firstval"] / @ViewData["secondval"] = @ViewData["Div"]</p>