
@{
    ViewData["Title"] = "PassUsingViewBag";
}

<h2>PassUsingViewBag</h2>

<p><b>Rand value First: @ViewBag.firstval</b></p>
<p><b>Rand value Second: @ViewBag.secondval</b></p>
<p><b>Add:</b></p>
<p>@ViewBag.firstval + @ViewBag.secondval = @ViewBag.Add</p>
<p><b>Sub:</b></p>
<p>@ViewBag.firstval - @ViewBag.secondval = @ViewBag.Sub</p>
<p><b>Mult:</b></p>
<p>@ViewBag.firstval * @ViewBag.secondval = @ViewBag.Mult</p>
<p><b>Div:</b></p>
<p>@ViewBag.firstval / @ViewBag.secondval = @ViewBag.Div</p>